body {
    margin: 0;
    padding: 0;
    background: #E1F0C4;
}

.name {
    width: 100%;
    height: 300px;
    background: #6BAB90;
    border-bottom: 3px white solid;
}

.name .content {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 17%;
}

.name .content .p-1 {
    color: white;
    font-weight: bolder;
    font-size: 65px;
    margin-bottom: 0;
}

.name .content .p-2 {
    color: white;
    font-weight: bolder;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 0;
}

.name .img {
    position: absolute;
    top: 3%;
    right: 17%;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    overflow: hidden;
}

.name .img img {
    width: 180px;
    height: 270px;
}

.container {
    display: flex;
}

.container .info-1 {
    width: 60%;
    height: auto;
    background: #55917F;
    margin: 5% 2.5% 5% 5%;
    padding: 20px;
    border-radius: 20px;
}

.container .map {
    width: 60%;
    height: auto;
    background: #55917F;
    margin: 5% 5% 5% 2.5%;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-2 {
    width: 70%;
    height: auto;
    background: #55917F;
    margin: 5% auto;
    padding: 20px;
    border-radius: 20px;
}

.info-1 .tituloSeccion,
.info-2 .tituloSeccion {
    color: white;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    border-bottom: 2px white solid;
}

.info-1 .tituloInfo,
.info-2 .tituloInfo {
    color: white;
    font-weight: bolder;
    font-size: large;
    margin-right: 20px;
    display: inline;
}

.info-1 .informacion,
.info-2 .informacion {
    color: azure;
    font-weight: normal;
    font-size: large;
    margin-right: 15%;
    display: inline-block;
}

.info-2 .lorem {
    color: azure;
    font-weight: normal;
    font-size: large;
    margin-right: 5% auto;
    display: inline-block;
    text-align: justify;
}

.info-2 span {
    display: inline-block;
    width: auto;
    padding-left: 1%;
    padding-right: 1%;
    background: #637081;
    color: whitesmoke;
    border-radius: 5px;
}

.pie .content {
    width: 100%;
    height: 120px;
    background: #6BAB90;
    text-align: center;
    border-bottom: 3px white solid;
}

.pie .content .p-1 {
    color: white;
    font-weight: bolder;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}